@model CakeViewModel

<h2>@Model.Title</h2>

<body>
    @foreach (var cake in Model.Cakes)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@cake.ImageUrl" alt="">
                <div class="caption">
                    <h3 class="pull-right">@cake.Price.ToString("c")</h3>
                    <h3>
                        <a asp-controller="Cake" asp-action="Details" asp-route-id="@cake.Id">@cake.Name</a>
                    </h3>
                    <p>@cake.ShortDescription</p>
                </div>
            </div>
        </div>
    }
</body>