@model CoffeeViewModel

<h2>@Model.Title</h2>

<body>
    @foreach (var coffee in Model.Coffees)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@coffee.ImageUrl" alt="">
                <div class="caption">
                    <h3 class="pull-right">@coffee.Price.ToString("c")</h3>
                    <h3>
                        <a asp-controller="Coffee" asp-action="Details" asp-route-id="@coffee.Id">@coffee.Name</a>
                    </h3>
                    <p>@coffee.ShortDescription</p>
                </div>
            </div>
        </div>
    }
</body>