@model HomeViewModel
@{
    Layout = "_Layout";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>

<body>
    <section class="my-section-jumbotron">
        <div class="jumbotron jumbotron-fluid my-jumbotron d-flex align-items-center">
            <div class="container text-center my-jumbotron-slogan">
                <h1 class="display-4 text-white text-uppercase my-jumbotron-text my-4">
                    Zapraszamy
                    <span class="text-warning font-weight-bold">Do</span> Nas!
                </h1>
            </div>
        </div>
    </section>

    <section class="my-menu">

        <h3>@Model.Title</h3>

        <div class="container">
            <div class="row justify-content-between py-4">
                @foreach (var stuff in Model.Stuffs)
                {
                    if (stuff.Id == 1)
                    {
                        <div class="row justify-content-around">
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <img class="my-menu-img" src="@stuff.ImageUrl" alt="">
                                <h3>
                                    <a asp-controller="Coffee">@stuff.Name</a>
                                </h3>
                            </div>
                        </div>
                    }
                    else if (stuff.Id == 2)
                    {
                        <div class="row justify-content-around">
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <img class="my-menu-img" src="@stuff.ImageUrl" alt="">
                                <h3>
                                    <a asp-controller="Cake">@stuff.Name</a>
                                </h3>
                            </div>
                        </div>

                    }
                    else if (stuff.Id == 3)
                    {
                        <div class="row justify-content-around">
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <img class="my-menu-img" src="@stuff.ImageUrl" alt="">
                                <h3>
                                    <a asp-controller="Drinks">@stuff.Name</a>
                                </h3>
                            </div>
                        </div>

                    }

                }
            </div>
        </div>
    </section>



</body>
</html>